/** 
 * Custom theme for NetworkCurator
 *
*/


/* --------------------------------------------------------------------------
 * General page/body elements
 * -------------------------------------------------------------------------- */

h1, h2, h3, h4 {     
    font-family: 'Roboto', Helvetica, sans-serif;
}
h2, h4 {
    font-weight: 700;
    color: #444;
}
h1, h3 {
    font-weight: 300;
    padding-bottom: 8px;    
}
body {       
    font-family: 'Open Sans', Helvetica, sans-serif;   
}


/* --------------------------------------------------------------------------
 * Main navigation bar
 * -------------------------------------------------------------------------- */

.navbar {
    background-color: #fff;
}
.nc-navbar2 {
    background-color: #f8f8f8;
}

/**
 * Make navigation bar taller on big screens
*/
@media (min-height: 600px) {          
    .navbar {
        min-height: 38px; 
        line-height: 38px;        
    }        
    .nc-navbar .navbar-nav > li > a {          
        line-height: 38px; 
    }
    .nc-navbar .navbar-brand, .nc-navbar .navbar-text {
        line-height: 38px; 
    }   
    .nc-navbar2 {
        top: 38px;
        line-height: 38px;
        min-height: 38px;
    }
    .nc-navbar2 .navbar-nav > li > a {
        line-height: 38px; 
    }
    body {
        padding-top: 38px;
        margin-bottom: 100px;
    }
    .nc-body2 {
        padding-top: 92px;
    }
}

@media (min-height: 800px) {          
    .navbar {
        min-height: 50px; 
        line-height: 50px;        
    }        
    .nc-navbar .navbar-nav > li > a {          
        line-height: 50px; 
    }
    .nc-navbar .navbar-brand, .nc-navbar .navbar-text {
        line-height: 50px; 
    }       
    .nc-navbar2 {
        top: 50px;
        line-height: 38px;
        min-height: 38px;
    }
    .nc-navbar2 .navbar-nav > li > a {
        line-height: 38px; 
    }
    body {
        padding-top: 50px;
        margin-bottom: 110px;
    }
    .nc-body2 {
        padding-top: 110px;
    }

}


/* --------------------------------------------------------------------------
 * Jumbotron on front page
 * -------------------------------------------------------------------------- */

.jumbotron {
    background-color: #011;    
    color: #ddd;
}
.jumbotron .nc-ui-jumbolabel {
    font-size: 48px;
    font-weight: 700;
    margin-top: 4em;
    letter-spacing: 2px;
}
.jumbotron .nc-ui-jumbosublabel {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0.7em;
}


/* --------------------------------------------------------------------------
 * Main navigation bar
 * -------------------------------------------------------------------------- */

hr {
    border-top: 1px solid #ddd;  
}