## ignoring temporary files and local netbeans project files

*/*.*~
*/*/*.*~
nbproject

## ignoring any local files (just in case a clone wants to add local files)
*local.php
*/*local.php
*/*/*local.php



